* {
  transition: all 1s ease 0s;
  -webkit-animation: all 1 ease 0s;
}
body {
  text-align: center;
  overflow-y: scroll;
  font-weight: 300;
}
h1,
.code-snippet {
  max-width: 100%;
}
.text {
  margin: 0 0 0 40px;
}
.steps {
  list-style-type: decimal;
  list-style-position: inside;
  padding: 0 20px;
}
.code-snippet pre {
  margin: 0 auto;
  max-width: 430px;
  text-align: left;
}
code > span {
  display: block;
}
.lead {
  margin: 20px 0px 10px 0px;
}
button {
  margin: 5px 5px;
}
h5.progrecss[data-progrecss-mock="10"].staggered.mock:after {
  animation: staggered-mock 10s infinite;
  -webkit-animation: staggered-mock 10s infinite;
}
