/**
  * Generates a loader style progress bar
*/
@keyframes vd-loader {
  from { background-position: 100vw 0; }
  to   { background-position: 0 0;      }
}

@mixin vd-loader() {
  &:before {
    width: 100%;
    background: linear-gradient(45deg,
      transparent 33vw,
      $vade-fg 66vw,
      transparent
    );
    background-size: 100vw;
    animation: vd-loader 1.25s 0s infinite linear;
  }
}

.#{$vade-ns} {
  &[loader] {
    @include vd-loader;
  }
}
