@import '../configuration';
/**
  * Staggered mock
  *
  * Mock progress with a staggered effect
*/

@keyframes vd-staggered-mock {
  0%   { width: 0%;   }
  10%  { width: 10%;  }
  20%  { width: 10%;  }
  30%  { width: 30%;  }
  40%  { width: 30%;  }
  50%  { width: 30%;  }
  60%  { width: 50%;  }
  70%  { width: 70%;  }
  80%  { width: 70%;  }
  90%  { width: 90%;  }
  100% { width: 100%; }
}

.#{$vade-ns} {
  @for $duration from $vade-staggered-mocks-min through $vade-staggered-mocks-max {
    &[staggered-mock="#{$duration}"] {
      &:before {
        animation-name    : vd-staggered-mock;
        animation-duration: $duration * 1s;
      }
    }
  }
}
