@import '../configuration';
/**
  * Timer
  *
  * Use progress as a timer
*/

@keyframes vd-timer {
  to { width: 0; }
}

#{$vade-ns},
.#{$vade-ns} {
  @for $duration from $vade-timers-min through $vade-timers-max {
    &[data-#{$vade-ns}-timer="#{$duration}"] {
      &:before {
        width             : 100%;
        animation-name    : vd-timer;
        animation-duration: $duration * 1s;
      }
    }
  }
}
