@import '../configuration';
/**
  * Timer
  *
  * Use progress as a timer
*/

@keyframes vd-timer {
  from { width: 100%; }
  to   { width: 0; }
}

progress {
  @for $duration from $vade-timers-min through $vade-timers-max {
    &[data-timer="#{$duration}"] {
      animation: vd-timer $duration * 1s;
    }
  }
}
