// vade configruation variables
$vade-ns: vade !default;

// Aesthetics
$vade-height          : 6px !default;
$vade-fg              : #3498db !default;
$vade-indeterminate-fg: $vade-fg !default;
$vade-opacity         : .4 !default;
$vade-radius          : 0 !default;
$vade-transition      : .25s !default;

// Feature constraints
$vade-timeout-threshold  : 30 !default;
$vade-mocks-min          : 1 !default;
$vade-mocks-max          : 4 !default;
$vade-staggered-mocks-min: 1 !default;
$vade-staggered-mocks-max: 4 !default;
$vade-timers-min         : 1 !default;
$vade-timers-max         : 4 !default;
