@import 'configuration';

@mixin create-pseudo() {
  position: absolute;
  display : block;
  content : '';
  height  : 6px;
  top     : 0;
  left    : 0;
}

@mixin create-core() {
  @for $percent from 1 through 100 {
    &[value="#{$percent}"] {
      width: $percent * 1%;
    }
  }
}

@keyframes vd-indeterminate {
  0% {
    opacity: 0;
  }
  50% {
    opacity: $vade-opacity;
  }
  100% {
    opacity: 0;
  }
}

progress {
  display   : block !important;
  height    : $vade-height;
  opacity   : $vade-opacity;
  appearance: none;
  width     : 0;
  border    : none;
  position  : relative;
  transition: width $vade-transition ease 0s,
    visibility ($vade-transition * 2) ease 0s;

  // Colors IE progress bar
  background: $vade-fg;

  &::-moz-progress-bar {
    background: $vade-fg;
  }

  &::-webkit-progress-bar {
    background: $vade-fg;
  }

  &::-webkit-progress-value {
    background: $vade-fg;
  }


  &:indeterminate {
    width    : 100%;
    animation: vd-indeterminate 2s infinite linear;
    background: $vade-indeterminate-fg;

    /* hides the indeterminate blocks animation in IE */
    color: transparent;

    &::-moz-progress-bar {
      background: $vade-indeterminate-fg;
    }

    &::-webkit-progress-bar {
      background: $vade-indeterminate-fg;
    }

  }

  @include create-core;
}
