/**
  * Progre(c)ss - 2016
*/
.pg {
  display: block;
  position: relative;
/**
  * Our before element acts as the container
  */
/**
    * If paused pause the play state of any animation that may be happening
  */
/**
    * Reverse it if we wish
  */
/**
    * Positional helpers
  */
}
.pg:before {
  position: absolute;
  display: block;
  content: '';
  height: 6px;
  top: 0;
  left: 0;
  background: #000;
  width: 100%;
}
.pg:after {
  position: absolute;
  display: block;
  content: '';
  height: 6px;
  top: 0;
  left: 0;
  -webkit-transition: width 0.25s ease 0s;
  transition: width 0.25s ease 0s;
  background: #f00;
  z-index: 2;
}
.pg--pause:after {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}
.pg--reverse:after {
  -webkit-animation-direction: reverse;
          animation-direction: reverse;
}
.pg--bottom:before,
.pg--bottom:after {
  top: 100%;
  margin-top: -6px;
}
.pg--fixed:before,
.pg--fixed:after {
  position: fixed;
}
.pg[data-pg="0"]:after {
  width: 0%;
}
.pg[data-pg="1"]:after {
  width: 1%;
}
.pg[data-pg="2"]:after {
  width: 2%;
}
.pg[data-pg="3"]:after {
  width: 3%;
}
.pg[data-pg="4"]:after {
  width: 4%;
}
.pg[data-pg="5"]:after {
  width: 5%;
}
.pg[data-pg="6"]:after {
  width: 6%;
}
.pg[data-pg="7"]:after {
  width: 7%;
}
.pg[data-pg="8"]:after {
  width: 8%;
}
.pg[data-pg="9"]:after {
  width: 9%;
}
.pg[data-pg="10"]:after {
  width: 10%;
}
.pg[data-pg="11"]:after {
  width: 11%;
}
.pg[data-pg="12"]:after {
  width: 12%;
}
.pg[data-pg="13"]:after {
  width: 13%;
}
.pg[data-pg="14"]:after {
  width: 14%;
}
.pg[data-pg="15"]:after {
  width: 15%;
}
.pg[data-pg="16"]:after {
  width: 16%;
}
.pg[data-pg="17"]:after {
  width: 17%;
}
.pg[data-pg="18"]:after {
  width: 18%;
}
.pg[data-pg="19"]:after {
  width: 19%;
}
.pg[data-pg="20"]:after {
  width: 20%;
}
.pg[data-pg="21"]:after {
  width: 21%;
}
.pg[data-pg="22"]:after {
  width: 22%;
}
.pg[data-pg="23"]:after {
  width: 23%;
}
.pg[data-pg="24"]:after {
  width: 24%;
}
.pg[data-pg="25"]:after {
  width: 25%;
}
.pg[data-pg="26"]:after {
  width: 26%;
}
.pg[data-pg="27"]:after {
  width: 27%;
}
.pg[data-pg="28"]:after {
  width: 28%;
}
.pg[data-pg="29"]:after {
  width: 29%;
}
.pg[data-pg="30"]:after {
  width: 30%;
}
.pg[data-pg="31"]:after {
  width: 31%;
}
.pg[data-pg="32"]:after {
  width: 32%;
}
.pg[data-pg="33"]:after {
  width: 33%;
}
.pg[data-pg="34"]:after {
  width: 34%;
}
.pg[data-pg="35"]:after {
  width: 35%;
}
.pg[data-pg="36"]:after {
  width: 36%;
}
.pg[data-pg="37"]:after {
  width: 37%;
}
.pg[data-pg="38"]:after {
  width: 38%;
}
.pg[data-pg="39"]:after {
  width: 39%;
}
.pg[data-pg="40"]:after {
  width: 40%;
}
.pg[data-pg="41"]:after {
  width: 41%;
}
.pg[data-pg="42"]:after {
  width: 42%;
}
.pg[data-pg="43"]:after {
  width: 43%;
}
.pg[data-pg="44"]:after {
  width: 44%;
}
.pg[data-pg="45"]:after {
  width: 45%;
}
.pg[data-pg="46"]:after {
  width: 46%;
}
.pg[data-pg="47"]:after {
  width: 47%;
}
.pg[data-pg="48"]:after {
  width: 48%;
}
.pg[data-pg="49"]:after {
  width: 49%;
}
.pg[data-pg="50"]:after {
  width: 50%;
}
.pg[data-pg="51"]:after {
  width: 51%;
}
.pg[data-pg="52"]:after {
  width: 52%;
}
.pg[data-pg="53"]:after {
  width: 53%;
}
.pg[data-pg="54"]:after {
  width: 54%;
}
.pg[data-pg="55"]:after {
  width: 55%;
}
.pg[data-pg="56"]:after {
  width: 56%;
}
.pg[data-pg="57"]:after {
  width: 57%;
}
.pg[data-pg="58"]:after {
  width: 58%;
}
.pg[data-pg="59"]:after {
  width: 59%;
}
.pg[data-pg="60"]:after {
  width: 60%;
}
.pg[data-pg="61"]:after {
  width: 61%;
}
.pg[data-pg="62"]:after {
  width: 62%;
}
.pg[data-pg="63"]:after {
  width: 63%;
}
.pg[data-pg="64"]:after {
  width: 64%;
}
.pg[data-pg="65"]:after {
  width: 65%;
}
.pg[data-pg="66"]:after {
  width: 66%;
}
.pg[data-pg="67"]:after {
  width: 67%;
}
.pg[data-pg="68"]:after {
  width: 68%;
}
.pg[data-pg="69"]:after {
  width: 69%;
}
.pg[data-pg="70"]:after {
  width: 70%;
}
.pg[data-pg="71"]:after {
  width: 71%;
}
.pg[data-pg="72"]:after {
  width: 72%;
}
.pg[data-pg="73"]:after {
  width: 73%;
}
.pg[data-pg="74"]:after {
  width: 74%;
}
.pg[data-pg="75"]:after {
  width: 75%;
}
.pg[data-pg="76"]:after {
  width: 76%;
}
.pg[data-pg="77"]:after {
  width: 77%;
}
.pg[data-pg="78"]:after {
  width: 78%;
}
.pg[data-pg="79"]:after {
  width: 79%;
}
.pg[data-pg="80"]:after {
  width: 80%;
}
.pg[data-pg="81"]:after {
  width: 81%;
}
.pg[data-pg="82"]:after {
  width: 82%;
}
.pg[data-pg="83"]:after {
  width: 83%;
}
.pg[data-pg="84"]:after {
  width: 84%;
}
.pg[data-pg="85"]:after {
  width: 85%;
}
.pg[data-pg="86"]:after {
  width: 86%;
}
.pg[data-pg="87"]:after {
  width: 87%;
}
.pg[data-pg="88"]:after {
  width: 88%;
}
.pg[data-pg="89"]:after {
  width: 89%;
}
.pg[data-pg="90"]:after {
  width: 90%;
}
.pg[data-pg="91"]:after {
  width: 91%;
}
.pg[data-pg="92"]:after {
  width: 92%;
}
.pg[data-pg="93"]:after {
  width: 93%;
}
.pg[data-pg="94"]:after {
  width: 94%;
}
.pg[data-pg="95"]:after {
  width: 95%;
}
.pg[data-pg="96"]:after {
  width: 96%;
}
.pg[data-pg="97"]:after {
  width: 97%;
}
.pg[data-pg="98"]:after {
  width: 98%;
}
.pg[data-pg="99"]:after {
  width: 99%;
}
.pg[data-pg="100"]:after {
  width: 100%;
}
