section.demo.demo--indeterminate
  h2 Indeterminate
  .wrapper
    pre.demo__markup
      code.language-html.
        &lt;progress&gt;&lt;/progress&gt;
  <progress class="demo-bar demo-bar--indeterminate"></progress>
  p.demo__doc.
    If a progress bar is <code>indeterminate</code>, show a standardized animation. This animation has to be applied to the <code>progress</code> element itself and not its <code>pseudo</code> elements for cross browser compatibility.
  p.demo__doc.
    Indeterminate <code>progress</code> elements don't play nice in iOS Safari so use the helper class <code>ep--indeterminate</code>.
