section.demo.demo--staggered
  h2 Staggered mock progress
  .wrap
    pre.demo__markup(id="staggered-markup")
      code.language-html.
        &lt;progress data-staggered-mock="4"&gt;
        &lt;/progress&gt;
  progress(id='staggered-bar', data-staggered-mock='4')
  p.demo__doc.
    Add a little stagger to your mocks.
  fieldset.demo__controls
    legend Set mock speed
    .demo-control-group
      label Value
      input(id='staggered-set', data-for='staggered-bar', type='number', max='4', min='1', value='4')
