@import '../configuration';

@keyframes ep-staggered-mock {
  0%   { width: 0%;   }
  10%  { width: 10%;  }
  20%  { width: 10%;  }
  30%  { width: 30%;  }
  40%  { width: 30%;  }
  50%  { width: 30%;  }
  60%  { width: 50%;  }
  70%  { width: 70%;  }
  80%  { width: 70%;  }
  90%  { width: 90%;  }
  100% { width: 100%; }
}

progress {
  @for $duration from $ep-staggered-mocks-min through $ep-staggered-mocks-max {

    &[data-staggered-mock] {
      animation-name: ep-staggered-mock;
    }

    &[data-staggered-mock='#{$duration}'] {
      animation-duration: $duration * 1s;
      width: 0;
    }
  }
}
