// Progrecss configruation variables
$progrecss-ns: progrecss;

// Aesthetics
$progrecss-height    : 6px !default;
$progrecss-fg        : #3498db !default;
$progrecss-bg        : $progrecss-fg !default;
$progrecss-opacity   : .6 !default;
$progrecss-radius    : 0 !default;
$progrecss-transition: .25s !default;

// Feature constraints
$progrecss-mocks          : 10 !default;
$progrecss-staggered-mocks: 10 !default;
$progrecss-timers         : 10 !default;
