h1
  font-size 1000px


/**
  * Progre(c)ss - 2016
*/
$ns = progrecss


progress
  background blue
  border none

progress::-webkit-progress-bar
  background green

progress::-webkit-progress-value
  background repeating-linear-gradient(45deg, white, blue 5%)
  transition all .5s ease 0s
  animation progress 1s infinite linear

::-moz-progress-bar
  background purple
  transition all .5s ease 0s

:indeterminate
  background black

@keyframes progress
  from
    background-position -100vw 0
  to
    background-position 0 0

create-el()
  position   absolute
  display    block
  content    ''
  height     6px
  top        0
  left       0

body:before
  position   absolute
  display    block
  content    ''
  height     6px
  top        0
  left       0
  width      100vw
  background repeating-linear-gradient(45deg, red, red 10px, white, red)
  animation progress .75s infinite linear
  z-index 2
//
// .{$ns}
//   display   block
//   position  relative
//   /**
//   * Our before element acts as the progress value indicator
//   */
//   &:before
//     create-el()
//     transition width .25s ease 0s
//     background red
//     z-index 2
//
//   /**
//     * If paused pause the play state of any animation that may be happening
//   */
//   &--pause
//     &:before
//       animation-play-state paused
//   /**
//     * Reverse it if we wish
//   */
//   &--reverse
//     &:before
//       animation-direction reverse
//   /**
//     * Positional helpers
//   */
//   &--bottom
//     &:before
//       top 100%
//       margin-top -6px
//   &--fixed
//     &:before
//       position fixed
//
// for percent in (0..100)
//   .{$ns}[data-{$ns}={'"' + percent + '"'}]
//     &:before
//       width (percent * 1%)
