// Timer keyframe for descending progression bar
@keyframes timer {
  0% {width: 100%;}
  100% {width: 0%;}
}

// Generate timers for up to 120 seconds
.generate-progression-timer(@n, @i:0) when (@i <= @n) {
  .progression[data-progression-timer="@{i}"].timer:after {
    animation-name: timer;
    animation-duration: (@i * 1s);
  }
  .generate-progression-timer(@n, (@i + 1));
}
.generate-progression-timer(@iterations);
