html(lang="en-us")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE-edge")
    title vade | enchance your progress bars with minimal effort!
    meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=0, maximum-scale=1.0")
    meta(name="description", content="html5 progress enhancement with minimal effort!")
  body
    .content
      header
        h1 vade
        p.
          vade is a CSS aid for resetting/enhancing the HTML5 progress element.
          There's also an optional ES6 helper.
      .features
        include features/standard
        include features/indeterminate
        include features/positional
        include features/spread
        include features/simulate
        include features/mock
        include features/staggered
        include features/timer
    footer &lt;Made real by <a href="https://jh3y.github.io/" target="_blank">jh3y</a> | MIT Licensed &copy;2016 /&gt;
