html(lang="en-us")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE-edge")
    title vade
    meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=0, maximum-scale=1.0")
    meta(name="description", content="html5 progress enhancement with minimal effort!")
  body
    .content
      header
        h1 vade
        p.
          vade is a CSS aid for resetting/enhancing the HTML5 progress element.
          There's also an optional ES6 helper.
      .features
        include features/standard
        include features/indeterminate
        include features/positional
        include features/spread
