// Options concerned with colors and standard dimensions and aesthetics.
@color: #3498DB;
@height: 4px;
@opacity: 0.6;
@box-shadow: 0 0 1px @color;
@border-radius: 0;
@transition: 1s ease 0s;
@iterations: 100;
.progression {
  display:block;
  position: relative;
}
.progression:after {
  z-index: 2;
}
.progression.reverse:after {
  animation-direction: reverse;
}
.progression.pause:after {
  animation-play-state: paused;
}
.progression[data-progression]:after,
.progression[data-progression-mock]:after,
.progression[data-progression-timer]:after {
  content: "";
  display: block;
  position: absolute;
  transition: width @transition;
  background-color: @color;
  box-shadow: @box-shadow;
  opacity: @opacity;
  height: @height;
  border-radius: @border-radius;
  top: 0;
}
.progression[data-progression].bottom:after, .progression[data-progression-mock].bottom:after, .progression[data-progression-timer].bottom:after {
  top: 100%;
}
.progression[data-progression].fixed:after, .progression[data-progression-mock].fixed:after, .progression[data-progression-timer].fixed:after {
  position: fixed;
  top: 0;
  left: 0;
}
.progression[data-progression].fixed.bottom:after, .progression[data-progression-mock].fixed.bottom:after, .progression[data-progression-timer].fixed.bottom:after {
  position: fixed;
  top: 100%;
}
// Loop for generating standard progression increments
.generate-progression(@n, @i: 0) when (@i <= @n) {
  .progression[data-progression="@{i}"]:after {
    width: (@i * 1%);
  }
  .generate-progression(@n, (@i + 1));
}
.generate-progression(100);
