@import 'configuration';
@import 'mixins';

@mixin create-pseudo() {
  position: absolute;
  display : block;
  content : '';
  height  : 6px;
  top     : 0;
  left    : 0;
}

@mixin indeterminate() {
  width    : 100%;
  animation: ep-indeterminate 2s infinite linear;
  background: $ep-indeterminate-fg;

  /* hides the indeterminate blocks animation in IE */
  color: transparent;

  &::-moz-progress-bar {
    background: $ep-indeterminate-fg;
  }

  &::-webkit-progress-bar {
    background: $ep-indeterminate-fg;
  }
}

@mixin create-core() {
  @for $percent from 1 through 100 {
    &[value="#{$percent}"] {
      width: $percent * 1%;
    }
  }
}

@keyframes ep-indeterminate {
  0% {
    opacity: 0;
  }
  50% {
    opacity: $ep-opacity;
  }
  100% {
    opacity: 0;
  }
}

progress {
  display   : block !important;
  height    : $ep-height;
  opacity   : $ep-opacity;
  appearance: none;
  width     : 0;
  border    : 0;
  position  : relative;
  transition: width $ep-transition ease 0s,
    visibility ($ep-transition * 2) ease 0s;

  // Colors IE progress bar
  background: $ep-fg;

  // Remove annoying marker border in IE
  &::-ms-fill {
    border: 0;
  }

  &::-moz-progress-bar {
    background: $ep-fg;
  }

  &::-webkit-progress-bar {
    background: $ep-fg;
  }

  &::-webkit-progress-value {
    background: $ep-fg;
  }

  &:indeterminate {
    @include indeterminate;
  }

  @include create-core;
}
