@import '~normalize.css';

body
  background yellow
*
  box-sizing border-box

body
  background #fafafa

.content
  max-width 960px
  margin 0 auto
  background grey

.blurb
  display inline-block
  float left
  width  40%
  position fixed

.demo
  display inline-block
  width 60%
  margin-left 40%
