$green: #2ECC71;
$blue: #3498DB;
$purple: #9B59B6;
$yellow: #F1C40F;
$orange: #E67E22;
$red: #E74C3C;

.progression[data-progression].green:after, .progression[data-progression-mock].green:after, .progression[data-progression-timer].green:after{
  background-color: $green;
}
.progression[data-progression].blue:after, .progression[data-progression-mock].blue:after, .progression[data-progression-timer].blue:after{
  background-color: $blue;
}
.progression[data-progression].purple:after, .progression[data-progression-mock].purple:after, .progression[data-progression-timer].purple:after{
  background-color: $purple;
}
.progression[data-progression].yellow:after, .progression[data-progression-mock].yellow:after, .progression[data-progression-timer].yellow:after{
  background-color: $yellow;
}
.progression[data-progression].orange:after, .progression[data-progression-mock].orange:after, .progression[data-progression-timer].orange:after{
  background-color: $orange;
}
.progression[data-progression].red:after, .progression[data-progression-mock].red:after, .progression[data-progression-timer].red:after{
  background-color: $red;
}
