@keyframes mock {
  0% {width: 0%;}
  100% {width: 100%;}
}

@for $i from 0 through $iterations {
  .progression[data-progression-mock="#{$i}"].mock:after {
    animation-name: mock;
    animation-duration: ($i * 1s);
  }
}
