@keyframes timer {
  0% {width: 100%;}
  100% {width: 0%;}
}

@for $i from 0 through $iterations {
  .progrecss[data-progrecss-timer="#{$i}"].timer:after {
    animation-name: timer;
    animation-duration: ($i * 1s);
  }
}
