doctype
head
  title progrecss workbench
  link(rel="stylesheet", href="css/progrecss.min.css")
  style.
    *   {
      box-sizing: border-box;
      -webkit-box-sizing: border-box;
    }
    div {
      height: 40px;
      border: 1px solid black;
      margin: 40px auto;
    }
    body:after,
    div:after {
      animation-iteration-count        : infinite;
      -webkit-animation-iteration-count: infinite;
    }
body
  button#actionButton Play/Pause body progrecss
  h1 let's make progrecss
  .progrecss.blue(data-progrecss="75") blue
  .progrecss.mock.red(data-progrecss, data-progrecss-mock="5") red mocked
  .progrecss.mock.staggered.green(data-progrecss, data-progrecss-mock="5") staggered mock
  .progrecss.timer.purple(data-progrecss, data-progrecss-timer="10") timer
  .progrecss.fixed.bottom.mock.green.reverse(data-progrecss, data-progrecss-mock="10") reverse fixed
  .progrecss.backdrop.bottom.purple.mock(data-progrecss, data-progrecss-mock="10") backdrop
  .progrecss.red.swish(data-progrecss) swish

  script(src="js/progrecss.js")
  script.
    (function(){
      var myprogrecss = new progrecss (document.body, {
        color: 'red',
        percent: 0,
        position: 'fixed',
        reverse: true,
        mock: {
            staggered: true,
            startMockOnCreate: true,
            mockDuration: 10
        }
      });
      document.getElementById('actionButton')
        .addEventListener('click', function(e) {
          myprogrecss.togglePause();
        });
    })();
