doctype
head
  title progression workbench
  link(rel="stylesheet", href="css/progression.min.css")
body
  h1 let's make progression
  button#actionButton Play/Pause
  script(src="js/progression.js")
  script.
    (function(){
      var myprogression = new progression (document.body, {
        color: 'red',
        percent: 0,
        position: 'fixed',
        reverse: true,
        mock: {
            staggered: true,
            startMockOnCreate: true,
            mockDuration: 100
        }
      });
      document.getElementById('actionButton')
        .addEventListener('click', function(e) {
          myprogression.togglePause();
        });
    })();
