$color: #3498DB;
$height: 4px;
$opacity: 0.6;
$box-shadow: 0 0 1px $color;
$border-radius: 0;
$iterations: 120;

.progrecss {
  display:block;
  position: relative;
}
.progrecss:after {
  z-index: 2;
}
.progrecss.reverse:after {
  animation-direction: reverse;
}
.progrecss.pause:after {
  animation-play-state: paused;
}
.progrecss[data-progrecss]:after,
.progrecss[data-progrecss-mock]:after,
.progrecss[data-progrecss-timer]:after {
  content: "";
  display: block;
  position: absolute;
  transition: width 1s ease 0s;
  background-color: $color;
  box-shadow: $box-shadow;
  opacity: $opacity;
  height: $height;
  border-radius: $border-radius;
  top: 0;
}
.progrecss[data-progrecss].bottom:after, .progrecss[data-progrecss-mock].bottom:after, .progrecss[data-progrecss-timer].bottom:after {
  top: 100%;
}
.progrecss[data-progrecss].fixed:after, .progrecss[data-progrecss-mock].fixed:after, .progrecss[data-progrecss-timer].fixed:after {
  position: fixed;
  top: 0;
  left: 0;
}
.progrecss[data-progrecss].fixed.bottom:after, .progrecss[data-progrecss-mock].fixed.bottom:after, .progrecss[data-progrecss-timer].fixed.bottom:after {
  position: fixed;
  top: 100%;
}

@for $i from 0 through 100 {
  .progrecss[data-progrecss="#{$i}"]:after { width: ($i * 1%); }
}
